<header>
  <!-- Nav Bar -->
  <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
    
    <div class="container">
      <a class="navbar-brand title font-weight-lighter mr-auto" href="{{ site.baseurl | prepend: site.url }}/"><img src="{{ '/assets/img/logo-260x50.png' | relative_url }}" title="{{ site.title }}" width="260px" height="50px" /></a>
      {%- if site.enable_navbar_social -%}
        <!-- Social Icons -->
        <div id="socialIcons" class="navbar-brand social">
          {% include social.html %}
        </div>
      {% endif %}

      <!-- Dropdown Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="navbar-toggler-icon"></span> <!-- Bootstrap built-in icon -->
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ site.baseurl }}/about/">会の趣旨</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/anti-harassment_policy/">アンチハラスメントポリシー</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/sponsor/">スポンサーをお考えの方へ</a>
            <a class="dropdown-item" href="{{ site.baseurl }}/info/">事業内容</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

</header>
