---
layout: default
---

{% if page._styles %}
<style type="text/css">
  {{ page._styles }}
</style>
{% endif %}

<div class="talk">
  <header class="talk-header">
    <h1 class="talk-title">{{ page.topic }}</h1>
  </header>
  <section class="talk-meta">
    <h2>📅 
    {% if page.date_tba -%}
      未定
    {%- else -%}
        {%- if page.date_em -%}<u class="date-em">{%- endif -%}
          {{- page.date | date: "%Y/%m/%d (%a)" -}}
        {%- if page.date_em -%}</u>{% endif -%}
        {%- if page.time_tba -%}
          (開始時間未定)
        {%- else %}
        {% if page.time_em %}<u class="time-em">{%- endif -%}
        {%- if page.time_end -%}
          {% assign time_end = page.time_end %}
        {%- else -%}
          {% assign time_end_second = page.date | date: '%s' %}
          {% assign time_end = time_end_second | plus: 3600 %}
        {%- endif -%}
        {{ page.date | date: "%H:%M" }}–{{ time_end | date: "%H:%M (%Z)" -}}
        {%- if page.time_em -%}</u>{%- endif -%}
        {%- endif -%}
    {%- endif -%}
    </h2>
    {% if page.venue %}
      @ {{ page.venue }}
    {% else %}
      @ online
    {% endif %}
    {% if page.notice %}
      <div class="alert alert-warning" role="alert">{{ page.notice }}</div>
    {% endif %}
  </section>

  <section class="talk-speaker">
    <h2>🗣️ {{ page.name }}{% if page.name_en %} / {{ page.name_en }}{% endif %}（{{ page.affiliation }}）</h2>
    {% if page.bio %}
      <div class="speaker-bio">
        <p>{{ page.bio }}
        {% if page.website %}
        <br><a href="{{ page.website }}" target="_blank">[Webサイト]</a></p>
        {% endif %}
      </div>
    {% endif %}

  </section>

  {% assign links = content | replace: '<p>', '' | replace: '</p>', '' | strip %}
  <section class="talk-detail">
    <h2>📝 {{ page.topic }}</h2>
    <p class="talk-item">概要：{{ page.abstract }}
    {% if links != "" %}
    <br>{{- links -}}
    {% endif %}
    </p>
    <p class="talk-item">※トークは{% if page.language %}{{ page.language }}{% else %}日本語{% endif %}です。</p>
  </section>

  <section class="talk-join">
    <h2>🏃‍♀️ 参加方法</h2>
    <p>参加用のZoom URLはメーリングリストで配信しています。
    <br>ほかの宣伝投稿はありません。いつでも抜けられます。</p>
    <p class="text-center mt-0">
      <a class="btn btn-outline-danger" href="https://docs.google.com/forms/d/e/1FAIpQLSdoLi9-yUvNfQAP_a71HRIBhLsXjwOPhEV-QdJXRvKPyiU5dQ/viewform?usp=sf_link" target="_blank">メーリングリスト登録フォーム</a>
    </p>
  </section>

  <footer class="talk-footer">
    <p><a href="/">[トップページへ戻る]</a></p>
  </footer>
</div>
